[submodule "external/raylib"]
	path = external/raylib
	url = git@github.com:raysan5/raylib.git
[submodule "external/cpptrace"]
	path = external/cpptrace
	url = git@github.com:jeremy-rifkin/cpptrace.git
